*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: Mochi;
    src: url(../fonts/MochiyPopOne-Regular.ttf);
}

body{
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: fit-content;
    font-family: Poppins;
}


.header-content{
    display: flex;
    justify-content: space-between;
    margin: 2rem 5rem;
}


@media (max-width: 800px) {
    .header-content{
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 2rem;
    }
}

.logo{
    font-size: 1rem;
    color: rgb(77, 7, 7);
    font-family: Mochi;
}

.toggler{
    display: none;
}

@media (max-width: 800px){
    .header-menu{
        position: relative;
        display: block;
        position: relative;
    }

    .toggler{
        position: inherit;
        z-index: 2;
        height: 45px;
        width: 45px;
        opacity: 0;
        display: block;
    }

    .hamburger{
        position: absolute;
        top: 0;
        z-index: 1;
        height: 45px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger > div{
        position: relative;
        background-color: rgb(77, 7, 7);
        height: 5px;
        width: 100%;
        border-radius: 2rem;
    }

    .hamburger > div::before, .hamburger > div::after{
        content: '';
        position: absolute;
        background-color: rgb(77, 7, 7);
        height: 5px;
        width: 75%;
        border-radius: 2rem;
    }

    .hamburger > div::before{
        transform: translateY(10px);
    }
    .hamburger > div::after{
        transform: translateY(-10px);
    }

    .toggler:checked + .hamburger > div{
        transform: rotate(135deg);
    }

    .toggler:checked + .hamburger > div:before, .toggler:checked + .hamburger > div::after{
        transform: rotate(90deg);
    }
}

@media (max-width: 800px){
    .nav{
        display: flex;
        font-size: 1.7rem;
        visibility: hidden;
        
    }

    .toggler:checked ~ .nav{
        visibility: visible;
    }
}

.nav-list{
    list-style-type: none;
    display: flex;
    background-color: rosybrown;
}

@media (max-width: 800px){
    .nav-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: auto;
        margin-top: 5rem;
        z-index: 1;
        padding-bottom: 2rem;
        border-radius: .5rem;
    }
}

.list{
    margin: 0 1rem;
}

.link{
    text-decoration: none;
    font-size: .9rem;
    color: rgb(77, 7, 7);
    padding: .3rem;
    font-family: Poppins;
}

@media (max-width: 800px){
    .list{
        border-bottom: solid rgb(77, 7, 7);
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 2rem 0 0 0;
        border-radius: .2rem;
    }

    .link{
        padding: .8rem 0;
        font-size: 1.2rem;
    }
}

.link:hover{
    border-bottom: solid rgb(77, 7, 7);
    border-width: .1rem;
    padding-bottom: .4rem;
    transition: ease-out .5s;
}

.link--active{
    border-bottom: solid rgb(77, 7, 7);
    border-width: .1rem;
    padding-bottom: .4rem;
}

@media (max-width: 800px){
    .link--active{
        border-bottom: none;
    }
}

.btn{
    background-color: rgb(77, 7, 7);
    color: white;
    border-width: .1rem;
    height: 2.3rem;
    width: 7rem;
    font-size: .9rem;
    border-radius: .3rem;
    border: none;
    font-family: Poppins;
}
@media (max-width: 800px) {
    .btn{
        display: none;
    }
}

.btn:hover{
    background-color: white;
    color: rgb(77, 7, 7);
    cursor: pointer;
    border-color: rgb(77, 7, 7);
    transform: scale(1.1);
    transition: ease-in-out .5s;
}

.main{
    display: flex;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 70%;
    background-color: rosybrown;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .main{
        display: flex;
    }
}

.main-heading{
    font-size: 5rem;
    color: rgb(77, 7, 7);
    font-family: Mochi;
}
@media (max-width: 800px){
    .main-heading{
        font-size: 2rem;
    }
}

.main-subtext{
    float: right;
    text-align: center;
    color: rgb(77, 7, 7);
    font-size: .9rem;
    font-family: Poppins;
}
@media (max-width: 800px){
    .main-subtext{
        font-size: .7rem;
    }
}

.profile{
    background-color: white;
    position: absolute;
    top: 30rem;
    width: 100%;
    height: auto;
}

.profile-content{
    display: flex;
    margin: 5rem;
    justify-content: center;
}

@media (max-width: 800px) {
    .profile-content{
        display: block;
        position: relative;
        margin: 2rem;
    }
}

.profile-text{
    text-align: justify;
    margin: 0  5rem 0 0;
    font-family: Poppins;
}

@media (max-width: 800px){
    .profile-text{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: .8rem;
        background-color: rgba(188, 143, 143, 0.75);
        margin-top: 25rem;

    }

}

.profile-heading{
    margin: 2rem 0;
    font-size: 2.3rem;
    color: rgb(77, 7, 7);
}

.profile-subtext{
   text-align: justify;
   font-size: .9rem;
}

@media (max-width: 800px){
    .profile-heading{
        font-size: 1.7rem;
        margin: .1.5rem 0;
    }

    .profile-subtext{
        font-size: .7rem;
    }
}

img{
    height: 25rem;
    width: auto;
    border-radius: .5rem;
    box-shadow: 1rem 1rem 5rem 0rem darkgray;
}

@media (max-width: 800px){
    img{
        height: auto;
        width: 100%;
        position: absolute;
        top: 0;
    }
}

img:hover{
    transform: scale(1.05);
    transition: ease-in-out .5s;
}

.footer{
    display: flex;
    position: absolute;
    top: 65rem;
    background-color: none;
    width: 100%;
    justify-content: center;
    align-content: center;
}

@media (max-width: 800px) {
    .footer{
        display: block;
        top: 78rem;
        display: flex;
    }
}

.fab{
    margin: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    color: rgb(77, 7, 7);
}

@media (max-width: 800px){
    .fab{
        font-size: 1.5rem;
    }
}

.fab:hover{
    transform: scale(1.2);
    transition: ease-in-out .5s;
}
